/* fonts   */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* header style  */
   header{
       width: 243px;
       height: 52px;
       margin-top: 87px;
       margin-left: 120px;
       font-size: 20px;
       color: #3A3A3A;
   }

/* body style  */
body{
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* common styles  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
   width: 1047px;
   margin-top: 100px;
}
.fa-arrow-right{
    margin-left: 15px;
}


/* influencer-journey */

.influencer-journey{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.influencer-detail{
    
    margin-left: 120px;
}
.influencer-detail h1{
    font-size: 50px;
}
.link-button{
    background: #E02C6D;
    width: 196px;
    height: 35px;
    border-radius: 40px;
    color: white;
    font-size: 19px;
    padding-top: 7px;
    padding-left: 30px;
}
.button{
    
    text-decoration: none;
    color: white;
}
.influencer-camera{
    margin-left: 133px;
    margin-top: 40px;
}

/*================================== product collection style ============================= */

.popular-collection>h2{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.all-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 56px;
}
.product{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
}
.product img{
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
}
.product h2{
    font-size: 28px;
    font-weight: 500;
}
.product-detail{
    padding-left: 14px;
}
.product-prize{
    font-size: 24px;
    width: 92px;
    height: 36px;
    line-height: 150%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.star-rating{
    display: flex;
    
}
.fa-star.filled{
    color:  #FB8200;
}
.fa-star.empty{
    color: gray;
}
span{
    padding-left: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #5E6366;
}
.product-shifting{
    font-size: 14px;
    line-height: 143%;
    color: #787885;
}

/* see more button style  */

.see-more{
   display: flex;
   justify-content: flex-end;
   margin-top: 50px;
}
.see-more-button{
   text-decoration: none;
   width: 99px;
   height: 24px;
   color:  rgba(224, 44, 109, 0.87);
}
.see-more .fa-arrow-right{
    color:  rgba(224, 44, 109, 0.87);
}

/* ======================================footer style========  */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    padding-top: 10px;
    margin-top: 30px;
    font-size: 20px;
}
.copyright{
    display: flex;
    align-items: center;
}
.fa-copyright{
    padding-left: 5px;
    padding-right: 5px;
}
.social-media-icon{
    display: flex;
}
.fa-facebook,.fa-twitter,.fa-linkedin{
    font-size: 40px;
    padding-right:20px;
}


